
/* Fullscreen auto-hide logic for Dock and Right Sidebar */
body[data-fullscreen-window="true"] .app-dock-container {
    transform: translateY(100%);
    z-index: 70000;
}
body[data-fullscreen-window="true"] .app-dock-trigger-area:hover ~ .app-dock-container,
body[data-fullscreen-window="true"] .app-dock-container:hover {
    transform: translateY(0);
}

body[data-fullscreen-window="true"] .app-right-sidebar-container {
    transform: translateX(120%);
    z-index: 70000;
}
body[data-fullscreen-window="true"] .app-right-sidebar-trigger-area:hover ~ .app-right-sidebar-container,
body[data-fullscreen-window="true"] .app-right-sidebar-container:hover {
    transform: translateX(0);
}

body[data-fullscreen-window="true"] .app-left-sidebar-container {
    transform: translateX(-120%);
    z-index: 70000;
}
body[data-fullscreen-window="true"] .app-left-sidebar-trigger-area:hover ~ .app-left-sidebar-container,
body[data-fullscreen-window="true"] .app-left-sidebar-container:hover {
    transform: translateX(0);
}

body[data-fullscreen-window="true"] .app-right-header-container {
    transform: translateX(120%);
    z-index: 70000;
}
body[data-fullscreen-window="true"] .app-right-header-trigger-area:hover ~ .app-right-header-container,
body[data-fullscreen-window="true"] .app-right-header-container:hover {
    transform: translateX(0);
}
